<form name="modalForm" ng-submit="modalOptions.submit()" class="min-hit">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <a class="btn btn-clear" ng-click="$dismiss()">
                <i class="ln-cross"></i>
            </a>
        </div>
        <h5 class="modal-title">Add User</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <!--<div>userinfo
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" name="name" placeholder="Enter Institute Name" ng-model="userinfo.name" class="form-control">
                    </div>
                </div>-->
                <!--<div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input   type="text" name="name" placeholder="Enter Institute Name" ng-model="userinfo.name"  class="form-control">
                    </div>
                </div>-->
                <div>
                    <!--{{user_id}}  {{user_name}}-->
                    <div class="form-group">
                        <label>User Name</label>
                        <multiple-select name="state" required="" ng-model="userinfo.user_id" ng-name="name[type.tableRef]" url="User/search"
                            api="searchCall" ng-if="!type.filterField">
                            </multiple-select>
                    </div>
                </div>
                     <!--<multiple-select name="state" required="" ng-model="abc" ng-name="name[type.tableRef]" url="User/search" api="searchCall"
                            ng-if="!type.filterField"></multiple-select>-->
                <!--<div class="form-group ">
                    <label>State</label>
                    <div class="error-msg " ng-show="detailForm[type.tableRef].$invalid &amp;&amp; detailForm[type.tableRef].$touched &amp;&amp; type.required">Please enter valid Status</div>
                    <select ng-model="userinfo.state" class="form-control">
                            <option ng-repeat="x in AllState"    value="{{x._id}}"  >{{x.name}}</option>
                        </select>
                </div>
            </div>-->
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-save " type="submit" ng-disabled="modalForm.$invalid" ng-click="addNewUser()">Save</button>
            <button class="btn btn-primary btn-danger" type="submit" ng-click="closeBox()">Cancel</button>
        </div>
    </div>
</form>
</div>