<form name="modalForm" ng-submit="modalOptions.submit()" class="min-hit">
    <div class="modal-header blue-bg">
        <div class="pull-right">
            <a class="btn btn-clear" ng-click="$dismiss()">
                <i class="ln-cross"></i>
            </a>
        </div>
        <h5 class="modal-title">Create Institute</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="form-group">
                        <label>Institute Name</label>
                        <input type="text" name="name" placeholder="Enter Institute Name" ng-model="newinstituteinfo.name" class="form-control">
                    </div>
                </div>
           
                <div class="form-group ">
                    <label>State</label>
                    <div class="error-msg " ng-show="detailForm[type.tableRef].$invalid &amp;&amp; detailForm[type.tableRef].$touched &amp;&amp; type.required">Please enter valid Status</div>
                    <select ng-model="newinstituteinfo.state" class="form-control">
                            <option ng-repeat="x in AllState"    value="{{x._id}}"  >{{x.name}}</option>
                        </select>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary btn-save " type="submit" ng-disabled="modalForm.$invalid" ng-click="saveInstitute(newinstituteinfo)">Save</button>
        <button class="btn btn-primary btn-danger" type="submit" ng-click="closeBox()">Cancel</button>
    </div>
    </div>
</form>
</div>